<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	default-lazy-init="false"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean
		class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:fdfs_client.properties</value>
			</list>
		</property>
	</bean>

	<bean id="fdfsSocketService" class="third.rewrite.fastdfs.socket.FdfsSocketService"
		init-method="init" destroy-method="destroy">
		<property name="poolConfig">
			<bean class="third.rewrite.fastdfs.socket.FdfsPoolConfig">
				<property name="maxTotal" value="20" />
			</bean>
		</property>
		<property name="borrowSockectErrorPolicy" ref="borrowSockectErrorCreateNotPooledPolicy" />
	</bean>
	
	<bean id="borrowSockectErrorCreateNotPooledPolicy" class="third.rewrite.fastdfs.socket.BorrowSockectErrorCreateNotPooledPolicy">
	</bean>

	<bean class="third.rewrite.fastdfs.service.impl.StorageClientService">
		<property name="trackerClientService" ref="trackerClientService" />
		<property name="fdfsSocketService" ref="fdfsSocketService" />
	</bean>

	<bean id="trackerClientService" class="third.rewrite.fastdfs.service.impl.TrackerClientService"
		init-method="init" >
		<property name="fdfsSocketService" ref="fdfsSocketService" />
		<property name="trackerServerValues" value="${tracker_server}" />
	</bean>

</beans>